/*.TodoItem {
    height: 124px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    width: auto;
    height: 100px;
    border-radius: 2px;
    background-color: #FFFFFF;
    filter: drop-shadow(2px 2px #20232926);
}*/

/* Using Grid*/
.TodoItem {
    display: grid;
    gap: 1rem;
    grid-template-columns: [line1] 30px [line2] auto [line3] 30px;
    grid-template-rows: 70px;
    grid-template-areas: "check description delete";
    border-radius: 2px;
    background-color: #FFFFFF;
    filter: drop-shadow(2px 2px #20232926);
    padding: 16px;
}
.DescriptionItem {
    place-self: center start;
    grid-area: description;
}
.DescriptionItem__p--Completed {
  text-decoration: line-through;
}