body {
  background-color: #F2F4F5;
  margin: 0;
  font-family: Montserrat, Arial, helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  gap: 10px 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  margin: 0; /* Podemos aplicar estilos al contenedor root */
}


