/*.TodoItem {
    height: 124px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    width: auto;
    height: 100px;
    border-radius: 2px;
    background-color: #FFFFFF;
    filter: drop-shadow(2px 2px #20232926);
}*/

/* Using Grid*/

.CkeckItem {
    place-self: center;
    grid-area: check;
    font-weight: 900;
}
.CkeckItem:hover {
    cursor: pointer;
}
.CheckItem--Completed {
    color: green;  
}
.DescriptionItem {
    place-self: center start;
    grid-area: description;
}
.DescriptionItem__p--Completed {
  text-decoration: line-through;
}
.DeleteItem {
    place-self: start center;
    grid-area: delete;
    font-weight: 900;
}
.DeleteItem:hover {
    color: red;
    cursor: pointer;
}
.TodoItem {
    display: grid;
    gap: 1rem;
    grid-template-columns: [line1] 30px [line2] auto [line3] 30px;
    grid-template-rows: 100px;
    grid-template-areas: "check description delete";
    border-radius: 2px;
    background-color: #FFFFFF;
    filter: drop-shadow(2px 2px #20232926);
}